#App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  font-size: 1.6rem;
}

#Header {
  text-align: center;
  font-size: 6rem;
  color: gold;
  animation: headerAnimation 2s infinite;
}

.Settings {
  margin: 1rem;
}

#SettingsLink {
  position: absolute;
  top: 1rem;
  right: 1rem;
  /* color: white; */
  opacity: 0.5;
  text-decoration: none;
  font-size: 1.4rem;
}

#SettingsLink.Active {
  opacity: 1;
}

@keyframes headerAnimation {
  0% { letter-spacing: normal;}
  50% { color:white; letter-spacing: .2rem;}
  100% {letter-spacing: normal;}
}

@keyframes winAnimation {
  50% { background-color: gold };
}


.Board {
  flex: 1;  
  box-sizing: border-box;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 1rem;
  transition: background-color none;
}

/* .Board.Stopped {
  background-color: yellow;
  transition: background-color 1s;
} */

.Tile {
  user-select: none;
  transition: background-color 200ms, border-color 150ms;
  color: black;
  border-style: solid;
  border-width: 1rem;
  border-color: inherit;
  padding: 1rem;
  box-sizing: border-box;
  align-self: center;
  justify-self: center;
  width: 100%;
  height: 100%;
  /* margin: 1em; */
  font-size: 4.8rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}


.Tile .Content {
  /* text-align: center; */
  max-width: 100%;
}

.Tile.Selected {
  border: 1rem solid yellow;
}

.Board.Stopped .Tile.Selected {
  animation: winAnimation 1s infinite;
}

.Board.Stopped .Tile:not(.Selected) {
  opacity: 0;
  transition: opacity .7s;
}